package components

templ ErrorMessage(message string) {
	if message != "" {
		<div class="bg-red-200 text-red-800 px-4 py-2 rounded-md w-full">{message}</div>
	}
}

templ ErrorMessageContainer() {
	<div id="error-message"></div>
}

